<div style="margin-left: 20%; margin-right: 20%; margin-bottom: 5%">
    <img style="width: 80px; float: left; position: absolute;" src="https://www.kamk.fi/layouts/KAMK_2018/images/kamk-logo.png" />
    <h1 id="rubber-duck" style="width: 100%; text-align: center;">Rubber Duck</h1>
    <br><br><br>
    <h2>Server Documentation</h2>
    <p>This server works with HTTP requests, information is transmitted via URL-parametres. Response information is
        inside the response body.
        Every request is to be sent to <a href="http://connect-rubberduck-kamk.rahtiapp.fi/">connect-rubberduck-kamk.rahtiapp.fi</a>
        and has to have a <code>type</code>-parameter to tell the server what the request is for. The server will either
        answer with 200-OK or 400-BadRequest. HTTPS is not supported.</p>
    <ul>
        <li>
            <p><strong>Registering a new duck</strong></p>
            <p>Used when the <em>duck administrator</em> registers a new duck.
                POST request with <code>type=register&amp;temp1=20.0&amp;temp2=25.0</code>. The server will answer with
                the newly generated duck ID.</p>
        </li>
        <li>
            <p><strong>Sending temp and batt data</strong></p>
            <p> Used when the duck sends the information gathered by its sensors to server.
                POST request with <code>type=data&amp;id=12345&amp;temp=20.0&amp;batt=69</code>.</p>
        </li>
        <li>
            <p><strong>Fetching temp data</strong></p>
            <p> Used when the duck requests the temperature thresholds from the server.
                GET request with <code>type=fetch&amp;id=12345</code>. The server will answer with temp1, temp2 in
                csv-format (e.g. &quot;20.0,25.0&quot;).</p>
        </li>
        <li>
            <p><strong>Updating temp data</strong></p>
            <p> Used when the <em>duck administrator</em> updates the temperature thresholds for a specific duck.
                POST request with <code>type=update&amp;id=12345&amp;temp1=22.0&amp;temp2=28.0</code>.</p>
        </li>
    </ul>

    <br>
    <h2>Graph Documentation</h2>
    <p>The graphical overview is available at <a href="http://grafana-rubberduck-kamk.rahtiapp.fi/d/WrolynCMz" target="_blank">grafana-rubberduck-kamk.rahtiapp.fi</a>.
        <br>
    <table>
        <thead>
            <tr>
                <th>Login Credentials</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Username</td>
                <td><code>admin</code></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><code>6D}ne@q&hwu\CdFj%i!fG/Q</code></td>
            </tr>
        </tbody>
    </table>
    <br>
    Remove all special characters from the password.
    </p>

    <br>
    <h2>Installation Instructions</h2>
    <p>The source code is available at <a href="https://gitlab.com/zehetner-kamk/rubberduck" target="_blank">gitlab.com/zehetner-kamk/rubberduck</a>. These instructions are for
        installing Rubber
        Duck on Kubernetes (Rahti).
    </p>
    <ul>
        <li>Create a mySQL database and save the login information as a Secret.</li>
        <li>Add a WildFly instance with the already mentioned git repository to the project.</li>
        <li>Go to Recources > Secrets and add the mySQL Secret to the WildFly instance. Be sure to use Volume, the server looks for the files at /opt/app-root/config/. This can be
            changed in ConnectionManager.java.</li>
        <li>Create a Service that routes TCP traffic from port 80 to port 30020 and create a Route with the name connect that uses this service. This is necessary
            for the duck to communicate with the server. The port can be changed in RubberDuckServer.java.</li>
        <li>Connect to the instance (<code>oc rsh <i>pod-number</i></code>) and run <code>./startServer.sh</code>.</li>
        <li>If everything is working correctly, you should now be able to see this documentation file at <a href="http://connect-rubberduck-kamk.rahtiapp.fi/"
                target="_blank">connect-rubberduck-kamk.rahtiapp.fi</a>.</li>
        <li><code>cd</code> into the main folder of the repository and run <code>kubectl apply -f grafana.yaml</code> to deploy the Grafana instance.</li>
        <li>Log into Grafana (default credentials are <code>admin</code>, <code>admin</code>). Click on + > Import and import grafana_template.json to create the Rubber Duck
            dashboard.</li>
    </ul>

    <br>
    <div style="font-size: small; text-align: center;">
        <img style="height: 10px; display: inline;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/1024px-Copyleft.svg.png" />
        <p style="display: inline"> Clemens Zehetner 2021</p>
    </div>
</div>